wheel
numpy
scipy
scikit-learn
scikit-dimension
matplotlib
opencv-python
tensorboard
torch
torchvision
torchaudio
autograd
pandas
h5py
huggingface-hub
transformers
tqdm
pillow
flask
jsonify
xgboost
omegaconf
simpletransformers
tenacity
tiktoken
tabulate
dill
nltk
PyQt5
